.footer{
    padding: 70px;
    box-shadow: $box-shadow;
    font-size: 1.1rem;

    &__logo{
        height: 38px;
    }

    &__about{
        p{
            margin-bottom: 2rem;
        }
    }

    &__title{
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    &__content{
        p{
            margin-bottom: 1.25rem;
        }
    }

    @include mobile{
        padding: 0 10px;
    }
}